body {
    margin: 0;
    background-color: black;
    color: white;
}

/*navbar section*/
.navbar {
    background-color: black !important;
    height: 80px;
}

.navbar .custom-icon {
    color: white;
    font-size: 25px;
    padding-left: 25px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba%28255, 255, 255, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.toggler-items {
    background-color: #007800;
    height: auto;
    border-radius: 20px;
}

.navbar-nav li {
    padding-right: 15px;
    padding-left: 25px;
}

.navbar-nav li a {
    color: white;
}

.navbar-nav li:first-child a {
    color: #00b700;
    /* Change to your desired color */
}

.navbar form {
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}

.navbar form button {
    color: white;
    border: 1px solid;
    border-color: white;
    border-radius: 59px;
}

@media screen and (min-width: 991px) {
    .toggler-items {
        background-color: black;
    }

    .navbar form button {
        border: none;
    }

    .navbar form {
        padding-bottom: 0;
    }

    .navbar .custom-icon {
        color: white;
        font-size: 25px;
        padding-left: 100px;
    }
}

/*\navbar section*/


/*banner section*/

/*left side*/
.left-side h2 {
    margin-top: 130px;
    padding-left: 30px;
}

.left-side h1 {
    padding-left: 30px;
}

.left-side p {
    padding-left: 30px;
}

.left-side .btn {
    color: white;
    margin-left: 30px;
    border: 1px solid;
    border-color: #007800;
    padding: 10px;
}

/*\left side*/

/*right side*/
.right-side img {
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 90px;
    margin-bottom: 100px;
}

/*\right side*/

@media screen and (max-width: 991px) {
    .right-side img {
        border-radius: 50%;
        margin-top: 80px;
        margin-left: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .navbar-nav li {
        padding-right: 25px;
        padding-left: 30px;
    }

    .left-side h2 {
        margin-top: 130px;
        padding-left: 100px;
    }

    .left-side h1 {
        padding-left: 100px;
    }

    .left-side p {
        padding-left: 100px;
    }

    .left-side .btn {
        color: white;
        margin-left: 100px;
        border: 1px solid;
        border-color: #007800;
        padding: 10px;
    }

    .right-side img {
        border-radius: 50%;
        margin-top: 75px;
        margin-left: 120px;
        width: 350px !important;
    }
}

/*\banner section*/


/*about section*/

.about-section{
    background-color: #032103;
    text-align: center;
    align-items: center;
    padding-top: 100px;
}

.follow-me{
    padding: 50px 0px 25px 0px;
    font-size: 20px;
}

.follow-me p span i{
    padding-left: 20px;
    font-size: 20px;
}

@media screen and (max-width: 550px) {
    .para {
        padding: 15px 20px 10px 20px !important;
    }
}


/*footer section*/
footer{
    margin-top: 100px;
}
/*\footer section*/